<article{{ attributes.addClass('post') }}>

  <aside class="time">
    {{ content.time }}
  </aside>

  <nav class="tags">
    {{ content.tags }}
  </nav>

  <aside class="source">
    {{ content.source }}
  </aside>

  <section class="body">
    {{ content.body }}
  </section>

</article>
